.blog-container {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: 0.4s ease-in-out;
}
.blog-container:hover {
  box-shadow: #f32a8f2f 5px 5px, #f32a8f1e 10px 10px, #f32a8f02 15px 15px;
}
.image-blog{
    height: 12rem;
}
.image-blog img{
    height: 12rem;
    width: 100%;
}
.content-blog{
    padding: 1rem;
}
.subTitle-blog p{
    color:#808080;
}
@media screen and (max-width:767px) {
    .blog-container{
        margin-bottom: 1rem;
    }
}
